.Container
{
    width: 400px;
    height: 800px;
    text-align: center;
}
h1
{
    font-family: cursive;
}
#input
{
    width:300px;
    height: 40px;
    font-size: 30px;
    text-align:right;
    font-family: cursive;
    border: 1px solid black;
}
.line
{
    list-style: none;
    display: flex;
    padding: 0px;
    height:60px;
}
li
{
    margin: 20px;
}
.btn1
{
width: 50px;
height:50px;
background-color:white;
color:black;
font-size: 17px;
border: black 1px solid;
}
.btn1:hover
{
    color:skyblue;
    border: skyblue 1px solid;
}
.buffer
{
    margin-top:30px;
}
